<?xml version="1.0" encoding="utf-8"?>
<InstallSettings>
  <MongoDbPath>c:\MongoDbUnity</MongoDbPath>
  <MongoDbServiceName>MongoDbUnity</MongoDbServiceName>
  <MongoDbPort>41173</MongoDbPort>
  <MongoDbDNS>ds041173-a0.mongolab.com</MongoDbDNS>
  <MongoDbPrefix>Unity80_r4</MongoDbPrefix>
</InstallSettings>
